/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    background-color: #1a1a1a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 100px;
}

header #logo {
    margin-bottom: auto;
}

header #logo img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

header .site-name {
    position: absolute;
    margin: 15px 0 0 20px;
    font-size: 2rem;
    background: linear-gradient(135deg, #2fe820, yellow, #00e4ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

header nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 0;
    padding: 0;
    margin: 0;
}

header nav ul li {
    position: relative;
}

header nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #1e90ff;
    padding: 10px 20px;
    background-color: #1a1a1a;
    box-shadow: 0 2px 3px rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease;
    display: block;
}

header nav ul li a:hover {
    background-color: #1a1a1a;
    color: #ffffff;
    box-shadow: 1px 0 5px rgba(255, 255, 255, 0.7), -1px 0 5px rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    margin: 0 5px;
}

.menu-btn {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: none;
    border: none;
}

@media (max-width: 768px) {

    header nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        text-align: left;
    }

    .menu-btn {
        display: block; /* Exibe o botão do menu */
        width: 50px;
        height: 50px;
        background-color: #333;
        color: white;
        text-align: center;
        line-height: 50px;
        font-size: 24px;
        cursor: pointer;
        z-index: 1000;
    }

    iframe{
        width: 95%;
        height: 350px;
    }

}

/* Outros estilos... */




/* Hero Section */
#hero {
    background-image: url('img/banner.jpg');
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

#hero h1 {
    font-size: 3rem;
}

#hero p {
    font-size: 1.2rem;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05); /* Aumenta ligeiramente o tamanho no meio da animação */
    }
}

#hero a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 20px 30px;
    background: linear-gradient(135deg, #f4f124, #f4b400);
    border-radius: 25px;
    font-weight: bold;
    transition: background 0.3s ease, box-shadow 0.3s ease; /* Adiciona transições suaves */
    animation: pulse 2s infinite; /* Aplica a animação */
    margin: 20px 0 10px 0;
}

#hero a:hover {
    color: #333; /* Muda a cor do texto */
    box-shadow: 0 4px 10px rgba(250, 247, 0, 0.99); /* Adiciona sombra ao passar o mouse */
}

/* Benefits Section */
#beneficios {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    text-align: center;
}

#beneficios div {
    max-width: 300px;
    flex: 1 1 200px;
}

#beneficios img {
    width: 50px;
}

/* Video Section */
#video-explicativo {
    text-align: center;
    padding: 50px 0;
}

/* Como Funciona Section */
#como-funciona {
    padding: 50px 0;
    background-color: #f9f9f9;
}

#como-funciona h2 {
    text-align: center;
}

#como-funciona div {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
}

#como-funciona img {
    width: 50px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #f0c040;
}

    nav ul.active {
        display: block;
    }

    #hero h1 {
        font-size: 2.5rem;
    }

    #hero p {
        font-size: 1rem;
    }

#video-explicativo {
    iframe {
        margin-top: 50px;
    }
}
